@model ViewModels.EmployeeListViewModel
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection
{
    MyView
}

@section ContentBody
{
   @{
    Html.RenderAction("GetAddNewLink");
    }
    <table>
        <tr>
            <th>Name</th>
            <th>Salary</th>
        </tr>
  
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>@item.Name</td>
                <td style="background-color: @item.SalaryColor">@item.Salary</td>
            </tr>
        }
    
    </table> 
}
